extends layout

block content
    div
        table.table.table-striped.table-success
            thead
                tr
                th Pronóstico
            tbody
    script(src="/socket.io/socket.io.js")
    script(src="../helpers/quiniela.js")