body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  background-color: #ABB5D2;
}

h1{
  color: #0000FE;
  margin-top: 20px;
}

input{
  border-radius: 8px;
  padding: 5px;
}

table{
  margin-top: 20px;
  text-align: center;
}